
Client/Library/SpriteAtlasDatabase.asset
Client/Library/ShaderIncludePaths
Client/Library/shadercompiler-UnityShaderCompiler.exe0.log
Client/Library/ShaderCache
Client/Library/ScriptMapper
Client/Library/ScriptAssemblies
Client/Library/ProjectSettings.asset
Client/Library/MonoManager.asset
Client/Library/metadata
Client/Library/LibraryFormatVersion.txt
Client/Library/LastSceneManagerSetup.txt
Client/Library/InspectorExpandedItems.asset
Client/Library/expandedItems
Client/Library/CurrentLayout.dwlt
Client/Library/BuildPlayer.prefs
Client/Library/AssetImportState
Client/Library/assetDatabase3
Client/Library/AnnotationManager
Client/Library/TilemapEditorUserSettings.asset
/Client/Library/EditorUserSettings.asset
/Client/Library/BuildSettings.asset
